.row {
    display: flex;
    flex-direction: column;

    @mixin atMedium {
        flex-direction: row;
    }

    &--gutters {
        gap: 0;

        @mixin atMedium {
            gap: 4.0625rem;
        }
    }

    &__4 {
        flex: 0 1 calc((100% / 12) * 4);

        @mixin atMedium {
            &--larger {
                flex: 0 1 calc((100% / 12) * 4.5);
            }
        }
    }

    &__8 {
        flex: 0 1 calc((100% / 12) * 8);

        @mixin atMedium {
            &--larger {
                flex: 0 1 calc((100% / 12) * 7.5);
            }
        }
    }
}
