.row {
    display: flex;
    flex-direction: column;

    @mixin atLarge {
        flex-direction: row;
    }

    &--t-padding {
        padding-block-start: 80px;
    }

    &--gutters {
        gap: 1rem;

        @mixin atMedium {
            gap: 4.0625rem;
        }
    }

    &--gutters-small {
        gap: 1rem;

        @mixin atMedium {
            gap: 2.8125rem;
        }
    }

    &--gutters-large {
        gap: 1rem;

        @mixin atMedium {
            gap: 6.25rem;
        }
    }

    &__4 {
        flex: 0 1 calc((100% / 12) * 4);

        @mixin atMedium {
            &--larger {
                flex: 0 1 calc((100% / 12) * 4.5);
            }
        }
    }

    &__6 {
        flex: 0 1 calc((100% / 12) * 6);
    }

    &__8 {
        flex: 0 1 calc((100% / 12) * 8);

        @mixin atMedium {
            &--larger {
                flex: 0 1 calc((100% / 12) * 7.5);
            }
        }
    }
}
