.row {
    display: flex;
    flex-direction: column;

    @mixin atMedium {
        flex-direction: row;
    }

    &--gutters {
        gap: 0;

        @mixin atMedium {
            gap: 4.0625rem;
        }
    }

    &__medium-4 {
        flex: 0 1 calc((100% / 12) * 4);
    }

    &__medium-8 {
        flex: 0 1 calc((100% / 12) * 8);
    }
}
